.inline {
  display: inline;
  width: 100px;
  height: 100px;
}
.none {
  display: none;
  width: 100px;
  height: 100px;
}
.inline-block {
  display: inline-block;
  width: 100px;
  height: 100px;
}
